@use '../abstracts/mixins' as mix;

@media (max-width: 780px) {

    .song-card {width: 90% !important;}

    .difficulty-buttons {    flex-direction: column;}

    .select {  flex-direction: column;  }

    #sky {
        img {
            height: 100%;
        }
    }

    
    .wrapper {
        grid-template-rows: 15% 1fr;
        grid-template-columns: 0;
    }

    .container {
        grid-area: 2 / 2;
        place-content: center;
        width: 85%;
        margin: 0 auto;
        height: 100dvh;
    }

    #scoreDisplay {
        left: 13%;
        width: 22%;
        top: 6%;
    }

    h1 {display: none;}

    #top {    flex-direction: column-reverse;}

    #difficultyLabel {
        height: 17%;
        margin-top: 20px;
        text-align: center;
        width: 82vw;
    }

    #life-container {
        flex-direction: row;
        top: 103px;
        margin: 0;
        width: 100%;
        justify-content: space-evenly;
        position: relative;
    }

    #life-container img {width: 23%;     height: 100px;}

    h2 {    font-size: 1.9em;  top: 29%;}

    #character-container {
        width: 98vw;
        height: 835px;
    }


    .game-container {
        height: 70vh;
        width: 105%;
        gap: 2px;
        touch-action: none;
        top: -61px;
    }
  
    .column {
      padding: 0 5px;
    }
  
    .hit-zone{width: 33px; left: 18%;}

  }
  
  @media (min-width: 1650px) and (max-width: 6000px) {

    #top {
        justify-content: space-evenly;
        height: 100vh;
        align-items: center;
        gap: 100px;
    }

    #scoreDisplay {
        top: 73px;
        position: absolute;
        left: 58%;
    }


    #difficultyLabel {
        position: relative;
        top: 1em;
        left: 543px;
    }

    .container {    grid-area: 2 / 2;  }
    .game-container {
        height: 570px;
        top: 0;
    }
  }
