@use '../../abstracts/variables' as vars;

.difficulty-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: vars.$font-primary;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.02);
  }
} 