@use '../../base/animations' as anim;

#life-container {
    margin-right: 14%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    align-self: center;
}

#life-container img {
    width: 90%;
    height: 140px;
    object-fit: contain; 
}

.burn-life {
    animation: anim.$burn 0.5s ease-in-out forwards;
}

#life-container img {
    animation: anim.$fire-life 1s infinite alternate;
}