#scoreDisplay img {
    height: 35px;
    width: auto;
    filter: drop-shadow(2px 2px 1px rgb(78, 7, 92)) drop-shadow(2px 2px 1px rgb(248, 59, 255));

}

#scoreDisplay {
    position: absolute;
    left: 68%;
    width: 24%;
    height: 80px;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    backface-visibility: hidden;
}

.score-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cyan);
    box-shadow: 0 0 15px var(--magenta);
    margin: 24px 0 0 34px;
    position: relative;
    left: 147px;
    display: flex;
    gap: 2px;
    backface-visibility: hidden;
}

.score-img {
    height: 35px;
    width: auto;
    filter: drop-shadow(2px 2px 1px rgb(78, 7, 92)) 
            drop-shadow(2px 2px 1px rgb(248, 59, 255));
}