:root {
    --highlight-blue: #00ffe0;
    --text-light: #e6e6e6;
    --accent-neon-cyan: #00eaff;
    --accent-neon-pink: #ff4dff;
    --background-dark: #0d0d14;
    --gradient-animation: linear-gradient(45deg, rgba(0, 255, 255, 1) 30%, rgba(255, 0, 255, 1) 60%, rgba(0, 143, 150, 1) 100%, rgba(100, 171, 237, 1) 100%);
}

body {
    background-image: url('wallpaperNew.webp');
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: var(--text-light);
    overflow: hidden;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-family: "LEMONMILK", sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: transparent;
    background: var(--gradient-animation);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px var(--text-light);
    filter: drop-shadow(2px 2px 15px var(--highlight-blue));
    animation: bg-shift 5s ease-in-out infinite alternate;
}

@keyframes bg-shift {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

h1 > img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    width: 450px;
    margin-bottom: 10px;
}

#title{
    color: transparent;
    background: linear-gradient(45deg, rgba(0, 255, 255, 1) 30%, rgba(255, 0, 255, 1) 60%, rgba(0, 143, 150, 1) 100%, rgba(100, 171, 237, 1) 100%);
    background-size: 300% 300%; 
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8); 
    filter: drop-shadow(2px 2px 10px rgba(0, 255, 255, 0.8)) drop-shadow(2px 2px 10px rgba(255, 0, 255, 0.8)); 
    animation: bg-shift2 5s ease-in-out infinite alternate;
}

h2 {
    color: transparent;
    background: linear-gradient(45deg, rgba(0, 255, 255, 1) 30%, rgba(255, 0, 255, 1) 60%, rgba(0, 143, 150, 1) 100%, rgba(100, 171, 237, 1) 100%);
    background-size: 300% 300%; 
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8); 
    filter: drop-shadow(2px 2px 10px rgba(0, 255, 255, 0.8)) drop-shadow(2px 2px 10px rgba(255, 0, 255, 0.8)); 
    animation: bg-shift2 5s ease-in-out infinite alternate;
}

#Container-dificuld {
    color: var(--text-light);
    text-align: center;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", Georgia, serif;
    font-size: 1.2em;
}

.welcome-user {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "LEMONMILK", sans-serif;
    color: var(--text-light);
    text-transform: uppercase;
}

#welcome-user > * {
    font-size: 30px;
}

#Scores {
    margin-top: 1.3em;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.score {
    padding: 1.2em;
    border-radius: 20px;
    background: var(--background-dark);
    color: var(--text-light);
    box-shadow: 0 0 15px var(--accent-neon-pink);
    transition: transform 0.3s, box-shadow 0.3s;
}

.score:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px var(--accent-neon-cyan), 0 0 20px var(--accent-neon-pink);
}






@keyframes hover {
    0% {
        transform: translatey(-10px) rotatez(-5deg) perspective(200px) translatez(0);
    }
    50% {
        transform: translatey(-10px) rotatez(-5deg) perspective(200px) translatez(50px);
    }
    100% {
        transform: translatey(-10px) rotatez(-5deg) perspective(200px) translatez(0);
    }
}

.dificult:hover {
    animation: hover 1s infinite ease-in-out;
}


.copy {
    margin-block: 4em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.kristopher1, .reifa1{
    display: flex;align-content: center;
    justify-content: center;
    
}


#github{
    color: transparent;
    background: linear-gradient(45deg, rgba(0, 255, 255, 1) 30%, rgba(255, 0, 255, 1) 60%, rgba(0, 143, 150, 1) 100%, rgba(100, 171, 237, 1) 100%);
    background-size: 300% 300%; 
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8); 
    filter: drop-shadow(2px 2px 10px rgba(0, 255, 255, 0.8)) drop-shadow(2px 2px 10px rgba(255, 0, 255, 0.8)); 
    animation: bg-shift2 5s ease-in-out infinite alternate;
    margin-left: 5px;
}

@keyframes bg-shift2 {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}



#tutorial-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#tutorial-popup:target {
    display: flex;
}

.tutorial-content {
    background: var(--background-dark);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: left;
    color: var(--text-light);
    box-shadow: 0 0 20px var(--accent-neon-cyan);
}

.tutorial-content h2 {
    margin-top: 0;
    font-family: "LEMONMILK", sans-serif;
    font-size: 2em;
    color: var(--accent-neon-cyan);
    text-transform: uppercase;
    text-align: center;
}

.tutorial-content strong {
    font-size: 35px;
}

.buttons-tutorials {display: flex;}

.img-nota-tuto {
    width: 55px;
}

.left {
    transform: rotate(182deg);
}

.down {
    transform: rotate(87deg);
}

.up {
    transform: rotate(270deg);
}

.right {
    transform: rotate(358deg);
}

.tutorial-content a.close-tutorial {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: var(--accent-neon-pink);
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "LEMONMILK", sans-serif;
}








/* 
#tutorial-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#tutorial-popup:target {
    display: flex;
}

.tutorial-content {
    background: var(--background-dark);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: left;
    color: var(--text-light);
    box-shadow: 0 0 20px var(--accent-neon-cyan);
}

.tutorial-content h2 {
    margin-top: 0;
    font-family: "LEMONMILK", sans-serif;
    font-size: 2em;
    color: var(--accent-neon-cyan);
    text-transform: uppercase;
    text-align: center;
}

.tutorial-content strong {
    font-size: 35px;
}

.buttons-tutorials {display: flex;}

.img-nota-tuto {
    width: 55px;
}

.left {
    transform: rotate(182deg);
}

.down {
    transform: rotate(87deg);
}

.up {
    transform: rotate(270deg);
}

.right {
    transform: rotate(358deg);
}

.tutorial-content a.close-tutorial {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: var(--accent-neon-pink);
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "LEMONMILK", sans-serif;
} */

/* .hidden {
    display: none;
}

#score-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.score-content h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.score-content p {
    margin: 5px 0;
    text-align: center;
}

.close-score {
    display: block;
    margin: 10px auto 0;
    text-align: center;
    color: white;
    text-decoration: underline;
    cursor: pointer;
} */
