body {
    background-color: #000;
    color: #fff;
}


#judgementDisplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none; /* Para que no interfiera con los clicks */
}

#comboDisplay {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}

/* Para las imágenes dentro del combo display */
#comboDisplay canvas {
    height: 40px; /* Ajusta según el tamaño que prefieras */
    width: auto;
    margin-left: 2px;
}

/* Para las imágenes de juicio */
#judgementDisplay canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}


#scoreDisplay {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}

#scoreDisplay canvas {
    height: 30px;
    width: auto;
    margin-left: 1px;
}

.judgement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    z-index: 1000;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


.container {
    display: flex;
    justify-content: center;
}
/* Área del juego */
.game-container {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 600px;
    border: 2px solid #000;
    background-color: #333;
    position: relative;
    overflow: hidden;
}

/* Columnas */
.column {
    width: 80px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.hit-zone {
    position: absolute;
    bottom: 22px;
    width: 21px;
    height: 35px;        
    padding: 1.5em;
    background-image: url('./img/nota-transparente.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Notas */
.note {
    width: 100%;
    height: 90px;    
    text-align: center;
    position: absolute;
    background-image: url('./img/nota.png');
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    left: 20px;
    margin-inline: 1em;
    top: -20px; /* Inician fuera de la pantalla */
}

/* Zona de acierto */


.column:first-child > .hit-zone {
    transform: rotate(179deg);
}

.column:nth-child(2) > .hit-zone {
    transform: rotate(90deg);
}

.column:nth-child(3) > .hit-zone {
    transform: rotate(-90deg);
}

.column:nth-child(4) > .hit-zone {
    transform: rotate(358deg);
}


/* Flecha hacia abajo */
.note.down {
    background-color: transparent;
    transform: translateX(-50%) rotate(90deg);
}
.note.down::after {font-size: 48px;}

.note.up {
    background-color: transparent;
    transform: translateX(-50%) rotate(-90deg);
}
.note.up::after {font-size: 48px;}

/* Flecha hacia la izquierda */
.note.left {
    background-color: transparent;
    transform: translateX(-50%) rotate(-179deg);
}
.note.left::after {font-size: 48px;}

/* Flecha hacia la derecha */
.note.right {
    /* background-image: url('./img/nota.png'); */
    transform: translateX(-50%) rotate(358deg);
    
}

.hit-value {
    animation: fadeOut 0.5s forwards;
}

#scoreDisplay {
    display: flex;
    align-items: center;
    gap: 2px; /* Espacio entre números */
}

#scoreDisplay img {
    height: 30px;
    width: auto;
}

