@use '../abstracts/variables' as vars;
@use 'sass:map';

h1 {
  text-align: center;
  font-family: vars.$font-primary;
  font-size: 3em;
  text-transform: uppercase;
  color: transparent;
  background: vars.$gradient-animation;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px map.get(vars.$colors, text-light);
  filter: drop-shadow(2px 2px 15px map.get(vars.$colors, highlight-blue));
  animation: bg-shift 5s ease-in-out infinite alternate;

  > img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    width: 450px;
    margin-bottom: 10px;
  }
}