@use '../abstracts/variables' as vars;
@use 'sass:map';

#Container-dificuld {
  color: map.get(vars.$colors, text-light);
  text-align: center;
  font-family: vars.$font-secondary;
  font-size: 1.2em;
}

.copy {
  margin-block: 4em;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.kristopheeer, .reifaaaaa {
  display: flex;
  align-content: center;
  justify-content: center;
}